@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos personalizados */
body {
  font-family: "Poppins", sans-serif;
  background-color: #000000; /* Fondo negro */
  color: #d1d5db; /* Texto gris claro */
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #1e3a8a; /* Fondo del contenedor en azul oscuro */
  border-radius: 10px;
  box-shadow: 0 4px 14px rgba(59, 130, 246, 0.5); /* Sombra azul neón */
}

h1 {
  color: #ffffff; /* Título en blanco */
}

input,
button {
  transition: all 0.3s ease;
}

input {
  background-color: #1f2937; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
}

input:focus {
  border-color: #3b82f6; /* Borde azul neón */
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.5);
}

button {
  background-color: #3b82f6; /* Botones en azul neón */
}

button:hover {
  background-color: #1e3a8a; /* Cambia a azul oscuro en hover */
  transform: translateY(-2px);
}
